<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Progress Page</title>
    <link rel="stylesheet" href="/progress.css">
    <script type="text/javascript">
        function updateStatus() {
            fetch('/progress-status')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('status').innerText = data.status;
                    if (data.completed) {
                    	 window.location.assign("/finetune");
                    	console.log("Success")
                    }else{
                    	setTimeout(updateStatus, 1000);
                    }
                });
        }
        window.onload = updateStatus;
        
    </script>
</head>
<body>
    <div class="container">
        <h1>Generating data Tailored <br>for your Schema</h1>
        <p id="status">Starting...</p>
    </div>
   
</body>
</html>